.trade-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px 32px;
  border-radius: 32px;
  border: 1px solid rgba(217, 217, 217, 0.1);
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  max-width: 580px;
  margin: 100px auto;

  .trade-tabs {
    display: flex;
    justify-content: center;
    gap: .5rem;

    button {
      border-radius: 35px;
      background: rgba(21, 21, 21, 0.1);
      padding: 12px 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active,
      &:hover {
        background: #151515;
        cursor: pointer;
        transition: all 0.4s linear;
      }
    }
  }
}
